<h2>Dashboard</h2>
<div class="row text-center">
    <div class="card m-3 col-lg-6" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Roles</h5>
            <p class="card-text">Add / Assign Roles</p>
            <a asp-action="RolesList" asp-controller="Adminstrator" class="btn btn-primary">Roles</a>
        </div>
    </div>
    <div class="card m-3 col-lg-6" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Recipes</h5>
            <p class="card-text">Add/Update/Remove</p>
            <a asp-action="GetAllRecipe" asp-controller="Recipes" class="btn btn-primary">Recipes</a>
        </div>
    </div>
</div>
